

.hover:hover .leftin{
  transform: translateX(0px);
}
.hover:hover .rightin{
  transform: translateX(0px);
}
.border-show{
  border-bottom: 1px white solid;
  transition: 0.3s ease-in-out;
  margin: 10px 0px;
}
.hover2:hover .border-show{
  border-bottom: 1px black solid;
}
.email{
  margin-bottom: 15px;
  color:white;
  font-size: 23px;
  width: 100%;
  background-color: #333333;
  border-radius: 5px;
  height: 35px;
  border-color: #fff;
}